*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border : none;
    background:none ;
    outline:none;
    /* outline: 1px solid red; */
}
.container{
    display: flex;
    height: 100vh;
    width : 100vw;
    overflow: hidden;
}
#img {
    width: 40%;
    height: 100%;
    position:relative;
}
.green_leaf{
    width:100%;
    height:100%;
    overflow:hidden;
    position: absolute;
    object-fit: cover;
}
.odinLogo{
    width: 12vh;
}
.logo{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}
.logoheading{
    font-size:xx-large;
    color:azure;
    padding-top:20px;
    padding-bottom:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.footer{
    display: flex;
    position: absolute;
    bottom:3%;
    font-size: 8px;
    color:#E5E7EB;
    width:100%;
    justify-content: center;
    padding:3px 3px;
}
a{
    color:#E5E7EB;
    padding-right:2px;
    padding-left: 2px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
}
form{
    width: 100%;
    box-sizing: border-box;
    margin-top:20px;
}
fieldset{
    padding: 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: auto;

}
.submit-login{
    padding: 20px 30px;
}
.login{
    margin-top:15px;
    font-size: 10px;
}
.loginlink{
    color:#596D48;
    text-decoration: none;
}
.formheading{
    padding-bottom:10px;
    margin-top:-10px;
}

label,input{
    display : flex;
    flex-direction: column;
    padding: 3px;
}
.name,.contact,.pass{
    display: flex;
    flex-direction: row;
}
.right{
    margin-left: 50px;
}
input{
    border-radius: 5px;
    border : 1px solid #E5E7EB;
}
.submit{
    padding:10px 30px;
    background-color: #596D48;
    color: white;
    font-size: 10px;
}
#password:invalid{
    border:1px solid red;
}
#confirmPass:invalid{
    border:1px solid red;
}
input:focus{
    border:1px solid blue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}