*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border : none;
    background:none ;
    outline:none;
    /* outline: 1px solid red; */
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width : 100vw;
    overflow: hidden;
}
#img {
    width: 40%;
    height: 100%;
}
img{
    width:100%;
    height:100%;
    overflow:hidden;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    
}
form{
    width: 100%;
    box-sizing: border-box;
}
fieldset{
    padding: 30px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: auto;

}
.submit-login{
    padding: 20px 30px;
}
.login{
    margin-top:10px;
}
h4{
    padding-bottom:10px;
    margin-top:-10px;
}
label,input{
    display : flex;
    flex-direction: column;
    padding: 5px;
}
.name,.contact,.pass{
    display: flex;
    flex-direction: row;
}
.right{
    margin-left: 50px;
}
input{
    border-radius: 5px;
    border : 1px solid #E5E7EB;
}
.submit{
    padding-left:30px;
    padding-right: 30px;
    background-color: #596D48;
    color: white;
}
/* #password:invalid{
    border:1px solid red;
} */
#confirm_pass:invalid{
    border:1px solid red;
}
input:focus{
    border:1px solid blue;
    
}